:root {
    --primary-color-hover: #2196F3;
    --primary-title-color: #212121;
    --primary-text-color: #757575;
    --primary-link-color: #757575;
    --primary-gap: 30px;
    --footer-background: #2F303A;
    --primary-margin-bottom: 94px;
    --primart-transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --primary-transition-opacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*:focus {
    outline: 1px solid #2196F3;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

a {
    color: var(--primary-link-color);
}

button {
    cursor: pointer;
    border: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--primary-text-color);
    background: #FFFFFF;
}

button,
ul,
p,
h1,
h2,
h3,
h4,
h5 {
    letter-spacing: 0.03em;
    margin: 0;
}

a {
    letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

header {
    border-bottom: 1px solid #ECECEC;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-nav__row {
    display: flex;
    align-items: center;
}

.my-logo {
    display: inline-block;
    margin-right: 93px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    letter-spacing: 0.03em;
}

.logo-blue {
    color: #2196F3;
}

.main-nav__list {
    display: flex;
    gap: 50px;
}

.main__title {
    position: relative;
    display: block;
    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    transition: var(--primart-transition-color);
}

.main__title::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;

    height: 4px;
    width: 100%;
    transform: scaleX(0%);
    transform-origin: left;

    border-radius: 2px;
    background-color: var(--primary-color-hover);
    opacity: 0;
    transition: var(--primary-transition-opacity), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__title.current::after {
    opacity: 1;
    transform: scaleX(100%);
    color: var(--primary-color-hover);
}

.current {
    color: var(--primary-color-hover);
}

.contacts-list {
    display: flex;
    margin-left: auto;
    gap: 50px;
}

.main__title:focus,
.main__title:hover {
    color: var(--primary-color-hover);
}

.main__title:focus::after,
.main__title:hover::after {
    opacity: 1;
    transform: scaleX(100%);
}

.email {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: var(--primart-transition-color);
}

.phone {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: var(--primart-transition-color);
}

.section {
    padding: 94px 0;
}

.hi-banner {
    padding: 200px 0;
    margin: 0 auto;
    max-width: 1600px;

    background-color: #2F303A;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/hi-banner__bg.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hi-banner__title {
    margin-bottom: 30px;

    font-weight: 900;
    text-align: center;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hi-banner__buttom {
    display: block;
    padding: 10px 32px;
    margin: 0 auto;

    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hi-banner__buttom:hover,
.hi-banner__buttom:focus {
    background-color: #188CE8;
}

.features__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--primary-gap);
}

.features__body {
    flex-basis: calc((100% - (3*var(--primary-gap))) / 4);
}

.features__bgc-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    height: 120px;
    margin-bottom: 30px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features__title {
    margin: 0 0 10px 0;

    font-size: inherit;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-title-color);
}

.features__text {
    line-height: 1.71;
}

.work-img {
    padding-top: 0;
}

.title {
    margin-bottom: 50px;

    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--primary-title-color);
}

.work-img-list__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--primary-gap);
}

.work-img-list__item {
    flex-basis: calc((100% - (2*var(--primary-gap))) / 3);
}

.work-img-list__item-bg {
    position: relative;
}

.item-bg__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 27px 0;

    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
}

.team {
    background-color: #F5F4FA;
}

.team-list__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--primary-gap);

}

.team__body {
    background-color: #FFFFFF;
    flex-basis: calc((100% - (3*var(--primary-gap))) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-text {
    padding: 30px 32px;
}

.name-title {
    margin: 0 0 10px 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-title-color);
}

.job-title {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    gap: 10px;
}

.social-item__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    color: #AFB1B8;
    border-radius: 50%;

    transition: var(--primart-transition-color), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.brands-list {
    display: flex;
    gap: var(--primary-gap);
}

.brands-item {
    flex-basis: calc(100% - (5*var(--primary-gap)) / 6);

}

.brands-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    height: 92px;
    transition: var(--primart-transition-color), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.brands-link:hover,
.brands-link:focus {
    color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transform: scaleX(1);
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scaleX(0);
}

.modal__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 40px;
    width: 528px;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.feedback-modal__icon-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close__modal-border {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;
    padding: 0;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: #000000;
    background-color: #ffffff;

    transition: var(--primart-transition-color);

    &:focus,
    &:hover {
        color: var(--primary-color-hover);
    }
}


.modal__close {
    fill: currentColor;
    width: 18px;
    height: 18px
}

.modal__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: #212121;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-form__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;

    width: 100%;
    margin-bottom: 20px;
}

.feedback-form__item {
    position: relative;
    color: #000000;

    transition: var(--primart-transition-color);
}

.feedback-form__position {
    position: relative;
}

.feedback-form__lable-textarea,
.feedback-form__lable {
    position: absolute;
    top: 13px;
    left: 42px;
    transform: translate(0, 0);

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    transition: var(--primart-transition-color), transform 250px cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form__textarea,
.feedback-form__input {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 42px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background: #FFFFFF;

    transition: border 250px cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border: 1px solid #2196F3;
        outline: none;
    }
}

.feedback-form__input {
    width: 100%;

    &:focus~.feedback-form__lable {
        transform: translate(-42px, -29px);
    }
}

.feedback-form__textarea {
    width: 100%;
    padding-left: 16px;
    resize: none;

    &:focus+.feedback-form__lable-textarea {
        color: var(--primary-color-hover);
        transform: translate(-42px, -29px);
    }
}

.feedback-form__item-checkbox {
    position: relative;

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
}

.feedback-form__checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;

    &:checked+.checkbox-style {
        background-image: url(../img/icon-check.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: var(--primary-color-hover);
        background-origin: border-box;
        border: 2px solid var(--primary-color-hover);
    }
}

.feedback-form__checkbox-link {
    text-decoration: underline;
    color: #2196F3;
}

.feedback-form__lable-checkbox {
    display: inline-block;
    padding-left: 23px;
}

.checkbox-style {
    position: absolute;
    left: 0;
    top: 0;

    width: 16px;
    height: 15px;

    border-radius: 2px;
    border: 2px solid #000000;
}

.feedback-form__buttom {
    width: 200px;
}

.feedback-form__input:focus {

    ~.feedback-form__icon,
    +.feedback-form__lable {
        color: var(--primary-color-hover);
    }
}



.feedback-form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;
    fill: currentColor;
}

//футер

.footer {
    background: var(--footer-background);
    padding: 60px 0;
}

.footer {
    .my-logo {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.footer__row {
    display: flex;
    align-items: baseline;
}

.logo-white {
    color: #FFFFFF;
}

.address__body {
    font-style: normal;
}

.address__list__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__list__item .email,
.address__list__item .phone {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.map {
    line-height: 1.71;
    color: #FFFFFF;
    transition: var(--primart-transition-color);
}


.map:focus,
.map:hover,
.email:focus,
.phone:focus,
.email:hover,
.phone:hover {
    color: var(--primary-color-hover);
}

.address__column {
    margin-right: 70px;
}

.social__column-text {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: #FFFFFF;
}

.social__column {
    margin-right: auto;
}

.social__column {
    .social-item__link {
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0.1);
        transition: var(--primart-transition-color), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.social-item__link:hover,
.social-item__link:focus {
    background-color: var(--primary-color-hover);
    color: #FFFFFF;
}

.social-icon {
    fill: currentColor;
}

.phone-icon,
.email-icon {
    margin-right: 10px;
    fill: currentColor;

}

.brends__logo {
    width: 106px;
    height: 60px;
    fill: currentColor;

}

.mail-push {}

.mail-push__form {}

.mail-push__lable {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mail-push__row {
    display: flex;
    align-items: center;
}

.mail-push__input {
    padding: 15px 16px;
    margin-right: 12px;

    height: 50px;
    min-width: 358px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border: 1px solid var(--primary-color-hover);
        outline: none;
    }
}

.mail-push__input,
.mail-push__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: inherit;
    color: rgba(255, 255, 255, 0.6);
}

.mail-push__input {
    color: #ffffff;
}


.mail-push__buttom {
    display: flex;
    align-items: center;
    justify-content: center;
}


.buttom {
    min-width: 200px;
    height: 50px;
    padding: 10px 20px;

    background-color: var(--primary-color-hover);
    color: #ffffff;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttom:hover,
.buttom:focus {
    background-color: #188CE8;
}

.mail-push__icon {
    margin-left: 10px;

    width: 24px;
    height: 24px;
    fill: currentColor;
}

// портфолио

.navigation {
    margin-bottom: 50px;
}

.navigation-list {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.button {
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--primary-title-color);
    background: #F5F4FA;
    border-style: none;
    border-radius: 4px;

    transition: var(--primart-transition-color), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    color: #FFFFFF;
    background-color: var(--primary-color-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--primary-gap);
}

.example-item {
    flex: 1 1 calc((100% / 2*var(--primary-gap)) / 3);
}

.example-item__body {
    padding: 20px 24px;

    background-color: #FFFFFF;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #EEEEEE;
}

.example-item__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
}

.example-item__img {
    overflow: hidden;
}

.example-item__description {
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.example-item__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-item__link-modal {
    position: relative;
    overflow: hidden;
}

.hover-modal__item {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateY(101%);

    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;
    pointer-events: none;
    transition: var(--primary-transition-opacity), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-modal__text {
    padding: 0 24px;

    font-size: 18px;
    line-height: 1.56;
    color: #FFFFFF;
}

.example-item__link:hover,
.example-item__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

    .hover-modal__item {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0%);
    }
}